* {
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  color: #fff;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #050917;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 0em;
}
::-webkit-scrollbar-thumb {
  background-color: #4EB9DB;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 0em;
}
@font-face {
  font-family: 'MFShangHei';
  src: url('../font/MFShangHei_Noncommercial-Regular.ttf');
}
@font-face {
  font-family: 'YeJing';
  src: url('../font/yejing.ttf');
}
h1 {
  font-size: 16px;
  color: #0C7BBF;
}
h2 {
  font-size: 16px;
  color: #292929;
}
body,
html {
  width: 100%;
  height: 100%;
}
.html {
  width: 100vw;
  height: 100vh;
  max-height: 1080px;
  background-color: #060F2E;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
header {
  background: linear-gradient(to left, #0A3D77 0%, #091239 50%, #0A3D77 100%);
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "action1 title action2";
  grid-gap: 10px;
}
.title {
  text-align: center;
  grid-area: "title";
  position: relative;
}
.title > span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 35px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fff 0%, #4EB9DB 20%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
  z-index: 3;
}
.logo {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 2px;
}
.title > .title-bg1 {
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #0c336679 0%, #15629c94 80%);
  transform: perspective(10px) rotateX(-2deg);
  z-index: 0;
}
.title > .title-bg2 {
  position: absolute;
  width: 85%;
  height: 8px;
  background: #091239;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) perspective(10px) rotateX(2deg);
  z-index: 1;
}
.title > .title-bg3 {
  position: absolute;
  width: 82%;
  height: 4px;
  background: linear-gradient(to right, #0B4177 0%, #4EB9DB 50%, #0B4177 100%);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.title > .title-bg4 {
  position: absolute;
  width: 60px;
  height: 2px;
  background-image: radial-gradient(ellipse, #fff 0%, #06f5f5 90%, #4EB9DB 100%);
  /* box-shadow: 0 0 20px 3px #06f5f5; */
  border-radius: 50%;
  border: none;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.title > .title-bg5 {
  position: absolute;
  width: 82%;
  height: 2px;
  background-image: radial-gradient(ellipse, #fff 0%, #06f5f5 90%, transparent 100%);
  box-shadow: 0 0 10px 1px #34dddd;
  border-radius: 50%;
  border: none;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
main {
  flex-grow: 1;
  background-color: #091239;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
  grid-gap: 10px;
}
.cell-1 {
  grid-area: a1;
}
.cell-2 {
  grid-area: a2;
}
.cell-3 {
  grid-area: a3;
}
.cell-4 {
  grid-area: a4;
}
.cell-5 {
  grid-area: a5;
}
.cell-6 {
  grid-area: a6;
}
.cell-7 {
  grid-area: a7;
}
.cell-8 {
  grid-area: a8;
}
.cell-9 {
  grid-area: a9;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 200px; */
}
.box {
  border-radius: 10px;
  position: relative;
  background-color: #11337744;
  border: 1px solid #203F6D;
}
.box > .line {
  position: absolute;
  width: 18px;
  height: 15px;
  border-radius: 10px;
  border: 2px solid #00FFFF88;
}
.box > .line-1 {
  left: -1px;
  top: -1px;
  border-bottom: none;
  border-right: none;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.box > .line-2 {
  right: -1px;
  top: -1px;
  border-bottom: none;
  border-left: none;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
.box > .line-3 {
  left: -1px;
  bottom: -1px;
  border-top: none;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
.box > .line-4 {
  right: -1px;
  bottom: -1px;
  border-top: none;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.box > .menu {
  position: absolute;
  width: 150px;
  height: 30px;
  text-align: center;
  top: 0;
  border: 1px solid #203F6D;
  border-top: none;
  padding: 5px 15px;
  background-color: #0A3D7755;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box > .menu > span {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-shadow: 0 0 10px #fff;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.box > .menu > .menu-bg {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background-image: radial-gradient(ellipse, #28589b70 5%, transparent 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #28589b40;
  z-index: 0;
}
@media screen and (max-width: 500px) {
  img.li-left-icon {
    display: none;
  }
  li.cell7-li {
    padding-left: 0;
  }
}
ul.cell7-ul {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.cell7-ul li.cell7-li {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.cell7-ul li.cell7-li div.li-left {
  margin-right: 10px;
}
ul.cell7-ul li.cell7-li div.li-left img.li-left-icon {
  width: 50px;
  height: 50px;
}
ul.cell7-ul li.cell7-li div.li-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
ul.cell7-ul li.cell7-li div.li-right p {
  color: #7490c9;
  font-size: 12px;
  margin-right: 10px;
}
ul.cell7-ul li.cell7-li div.li-right p span.li-right-span {
  color: #3DBCCC;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (min-width: 1750px) {
  div.li-right {
    display: flex;
    flex-direction: row !important;
  }
}
div.button-group {
  width: 80px;
  height: 25px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  border-radius: 25px;
  border: 2px solid #0FA5BB;
  display: flex;
  overflow: hidden;
}
div.button-group input.radio-input {
  display: none;
}
div.button-group label.button {
  display: block;
  user-select: none;
  text-align: center;
  padding: 5px 2px;
  flex-grow: 1;
  cursor: pointer;
  font-size: 10px;
  line-height: 10px;
  color: #7490c9;
  border-right: 1px solid #0FA5BB;
}
div.button-group label.button:hover {
  background-color: #0A3D77;
}
div.button-group label.button svg {
  width: 100%;
  height: 100%;
}
div.button-group label.button:last-of-type {
  border-right: none;
}
div.button-group input#button1_1.radio-input:checked ~ label.button[for='button1_1'],
div.button-group input#button1_2.radio-input:checked ~ label.button[for='button1_2'],
div.button-group input#button1_3.radio-input:checked ~ label.button[for='button1_3'],
div.button-group input#button2_1.radio-input:checked ~ label.button[for='button2_1'],
div.button-group input#button2_2.radio-input:checked ~ label.button[for='button2_2'],
div.button-group input#button2_3.radio-input:checked ~ label.button[for='button2_3'],
div.button-group input#button3_1.radio-input:checked ~ label.button[for='button3_1'],
div.button-group input#button3_2.radio-input:checked ~ label.button[for='button3_2'] {
  background-color: #0A3D77;
  box-shadow: 0 0 5px #125aac inset;
  color: #fff;
}
.cell9-div {
  width: 100%;
  height: 100%;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cell9-div p {
  font-size: 18px;
  font-weight: bold;
}
.cell9-div ul#cell9_ul {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cell9-div ul#cell9_ul li.cell9-li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.cell9-div ul#cell9_ul li.cell9-li .cell9-li-left {
  width: 100px;
  border: 1px dashed #34B9E4;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.cell9-div ul#cell9_ul li.cell9-li .cell9-li-right {
  padding-left: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cell9-div ul#cell9_ul li.cell9-li .cell9-li-right span {
  font-size: 10px;
  font-weight: normal;
}
.cell-5-table {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cell-5-table .table-head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  box-shadow: inset 0px 10px 10px -10px #5a647a, inset 0px -10px 10px -10px #545d70, 10px 10px 10px -10px #46536e, -10px -10px 10px -10px #5d6985;
}
.cell-5-table .table-head li {
  font-size: 14px;
  color: #b5caf7;
  user-select: none;
  cursor: pointer;
}
.cell-5-table .table-body {
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 200px;
  text-align: center;
  overflow-y: auto;
}
.cell-5-table .table-body .table-tr {
  width: 100%;
  min-height: 20px;
  margin: 5px 0;
  cursor: pointer;
  height: 30px;
}
.cell-5-table .table-body .table-tr:hover {
  background-color: #1D3E6533;
}
.cell-5-table .table-body .table-tr .table-tr-ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cell-5-table .table-body .table-tr .table-tr-ul .table-td {
  color: #a5bae6;
  user-select: none;
  text-align: center;
}
.cell-5-table .table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.cell-5-table .table-body::-webkit-scrollbar-track {
  background-color: #0E2149;
}
.cell-5-table .table-body::-webkit-scrollbar-thumb {
  background-color: #30B4DD;
}
div.echart1-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}
div.echart1-info ul.echart1-info-ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
div.echart1-info ul.echart1-info-ul li.cell1-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.echart1-info ul.echart1-info-ul li.cell1-li .cell1-li-div {
  display: flex;
}
div.echart1-info ul.echart1-info-ul li.cell1-li .cell1-li-div img.cell1-li-left-icon {
  width: 30px;
  height: 30px;
}
div.echart1-info ul.echart1-info-ul li.cell1-li .cell1-li-div .cell1-li-right-info span {
  color: #4BECFD;
  font-size: 12px;
}
div.echart1-info ul.echart1-info-ul li.cell1-li .cell1-li-div .cell1-li-right-info h1.cell1-h1 {
  color: #FCFCFD;
  font-size: 14px;
  font-family: YeJing;
  letter-spacing: 4px;
}
div.echart1-info ul.echart1-info-ul li.cell1-li p {
  font-size: 12px;
}
div.echart1-info ul.echart1-info-ul li.cell1-li p .cell1-li-p-icon {
  width: 8px;
}
.cell6-div {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cell6-div li {
  font-size: 12px;
  color: #5C75A6;
  font-weight: bold;
  text-align: center;
}
